body {
  background-color: wheat;
  text-align: center;
}

h1{
  color: darkred;
  text-transform: uppercase;
}

button.delete-btn {
  background-image: url('/images/images.png');
  width: 33px;
  height: 33px;
}
